# API HACKS
> API HACKS
- toc: true

Take this python table and use a minimum of 3 pandas functions to analyze the data

In [1]:
import pandas as pd
data = {
    'Name': ['Dillon', 'Noor', 'Steven', 'Lucas', 'Harsha', 'Varalu', 'Ryan', 'Emaad'],
    'Age': [24, 31, 42, 27, 29, 26, 90, 15],
    'Gender': ['M', 'M', 'M', 'M', 'F', 'F', 'F', 'F'],
    'Grade': ['A', 'B', 'A', 'D', 'C', 'F', 'B', 'A']
}
df = pd.DataFrame(data)
print(df)

     Name  Age Gender Grade
0  Dillon   24      M     A
1    Noor   31      M     B
2  Steven   42      M     A
3   Lucas   27      M     D
4  Harsha   29      F     C
5  Varalu   26      F     F
6    Ryan   90      F     B
7   Emaad   15      F     A

In [2]:
import pandas as pd

# Define the table
data = {
    'Name': ['Dillon', 'Noor', 'Steven', 'Lucas', 'Harsha', 'Varalu', 'Ryan', 'Emaad'],
    'Age': [24, 31, 42, 27, 29, 26, 90, 15],
    'Gender': ['M', 'M', 'M', 'M', 'F', 'F', 'F', 'F'],
    'Grade': ['A', 'B', 'A', 'D', 'C', 'F', 'B', 'A']
}
df = pd.DataFrame(data)

# Use the describe() function to get summary statistics
print(df.describe())

# Use the groupby() function to group the data by gender and calculate the mean age
print(df.groupby('Gender')['Age'].mean())

# Use the value_counts() function to count the number of each grade
print(df['Grade'].value_counts())

             Age
count   8.000000
mean   35.500000
std    23.268618
min    15.000000
25%    25.500000
50%    28.000000
75%    33.750000
max    90.000000
Gender
F    40.0
M    31.0
Name: Age, dtype: float64
A    3
B    2
D    1
C    1
F    1
Name: Grade, dtype: int64

Here's a brief explanation of what each function does:

describe() - This function provides summary statistics for each column in the table, such as the count, mean, standard deviation, minimum value, maximum value, and quartiles.

groupby() - This function allows you to group the data by a specific column (in this case, 'Gender'), and then perform calculations on the grouped data (in this case, the mean age for each gender).

value_counts() - This function counts the number of occurrences of each unique value in a column (in this case, the number of each grade).